/* COLOR PALLETE */
:root{
    --light: #FBFADA;
    --mid-light: #ADBC9F;
    --mid-dark: #436850;
    --dark: #12372A;
}



.skip-link{
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #007bff;
    color: #fff;
    z-index: 999;
    transition: top 0.3s ease;
    text-decoration: none;
}

.skip-link:focus{
    top: 0;
}

.skip-link:focus-visible{
    top: 0;
}

.skip-link:not(:focus):not(:active) {
    top: -40px;
  }

nav{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.nav-bar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.nav_bar_item{
    border: 1px solid var(--dark);
    background-color: var(--mid-light);
    color: var(--dark);
    text-align: center;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
    text-decoration: none;
}

.current_page{
    font-weight: bold;
    font-size: 125%;
    color: var(--light);
    background: var(--mid-dark);
    border: 2px solid black;
    border-left-width: 1px;
    border-right-width: 1px;
}

.pets-container{
    display: grid;
    background-color: var(--light);
    /* border: 1px solid var(--mid-light); */
    min-width: 400px;
    justify-items: center;
    row-gap: 10px;
    grid-template-columns: 1fr;
}




.pets-container-object{
    border: 1px solid var(--dark);
    max-width: 1000px;
    min-width: 600px;
    background-color: var(--mid-light)
}

.pets-profile-img{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 10px solid var(--mid-dark);
    height: auto;
    max-width: 600px;

}

.pets-photo-gallery-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    overflow: scroll;
    scrollbar-width: none;
    column-gap: 3px;
    row-gap: 3px;
    max-width: 600px;
    align-items: center;
    background-color: var(--mid-light);
    justify-items: center;
}

.pets-photo-gallery{
    width: auto;
    height: auto;
    align-items: center;
    border: 3px solid var(--mid-dark);
    max-height: 300px;
}

#main{
    min-width: 400px;
    max-width: 1200px;
    margin: 0 auto;
}

.pet-species{
    color: var(--dark);
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

body{
    background-color: var(--light);
}

h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color: var(--dark);
}

@media (min-width: 1300px){
    .pets-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1900px){
    .pets-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #main{
        max-width: 1800px;
    }
}